//SPEKTRAL SASS
@mixin header($size: 25px) {
    font-family: Verdana, Geneva, sans-serif;
    font-size: $size;
}

@mixin paragraph($size: 18px) {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: $size;
    font-weight: 500;
    letter-spacing: 0.05em;
}

@mixin transparentBG($color, $alpha) {
    background-color: rgba(red($color), green($color), blue($color), $alpha);
}

@mixin shadow($spread: 5px, $blur: 0, $color: #000, $hOffset: inset, $vOffset: 0) {
    -moz-box-shadow: $hOffset $vOffset $blur $spread $color;
    -webkit-box-shadow: $hOffset $vOffset $blur $spread $color;
    box-shadow: $hOffset $vOffset $blur $spread $color;
}

@mixin roundedCorners($radius: 5px) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin alpha($amount) {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" + ($amount * 100) + ")";
    /*Good browsers*/
    opacity: $amount;
}

//Transitions
@mixin fadeTo($speed: 1s, $amount: 1, $easeType: linear) {
    transition: opacity $speed $easeType;
    -moz-transition: opacity $speed $easeType;
    -webkit-transition: opacity $speed $easeType;
    opacity: $amount;
}

//Animations
@mixin fade($speed, $start: 0, $end: 1, $count: 1) {
    -webkit-animation: alpha $speed $count;
    -moz-animation: alpha $speed $count;
    -o-animation: alpha $speed $count;
    animation: alpha $speed $count;
    @-webkit-keyframes alpha {
        0% {
            opacity: $start;
        }
        100% {
            opacity: $end;
        }
    }
    @-moz-keyframes alpha {
        0% {
            opacity: $start;
        }
        100% {
            opacity: $end;
        }
    }
    @-o-keyframes alpha {
        0% {
            opacity: $start;
        }
        100% {
            opacity: $end;
        }
    }
    @keyframes alpha {
        0% {
            opacity: $start;
        }
        100% {
            opacity: $end;
        }
    }
}
