//SPEKTRAL SASS
@mixin header($size: 25px, $align: left) {
    font-family: Verdana, Geneva, sans-serif;
    font-size: $size;
    text-align: $align;
}

@mixin paragraph($size: 18px, $align: left) {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: $size;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-align: $align;
}

@mixin responsiveText($max: 50px, $min: 5.0) {
    //font-size: 10vw;
    font-size: $max;
    /* old */
    
    font-size: $min+vm;
    /* IE9 */
    
    font-size: $min+vmin;
}

@mixin transparentBG($color, $alpha) {
    background-color: rgba(red($color), green($color), blue($color), $alpha);
}

@mixin shadow($spread: 5px, $blur: 0, $color: #000, $hOffset: inset, $vOffset: 0) {
    -moz-box-shadow: $hOffset $vOffset $blur $spread $color;
    -webkit-box-shadow: $hOffset $vOffset $blur $spread $color;
    box-shadow: $hOffset $vOffset $blur $spread $color;
}

@mixin roundedCorners($radius: 5px) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin alpha($amount) {
    /* IE 8 */
    
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" + ($amount * 100) + ")";
    /*Good browsers*/
    
    opacity: $amount;
}

@mixin gradient($topColor: #444, $bottomColor: #999) {
    background-color: $topColor;
    background-image: -webkit-linear-gradient(top, $topColor, $bottomColor);
    /* Chrome 10-25, iOS 5+, Safari 5.1+ */
    
    background-image: linear-gradient(to bottom, $topColor, $bottomColor);
    /* Chrome 26, Firefox 16+, IE 10+, Opera */
}

@mixin rotate($deg) {
    $deg: $deg + deg;
    -webkit-transform: rotate($deg);
    // Chrome, Opera 15+, Safari 3.1+ 
    -ms-transform: rotate($deg);
    // IE 9
    transform: rotate($deg);
    // Firefox 16+, IE 10+, Opera */
}

@mixin scale($scaleX, $scaleY: $scaleX) {
    -webkit-transform: scale($scaleX, $scaleY);
    /* Chrome, Opera 15+, Safari 3.1+ */
    
    -ms-transform: scale($scaleX, $scaleY);
    /* IE 9 */
    
    transform: scale($scaleX, $scaleY);
    /* Firefox 16+, IE 10+, Opera */
}

@mixin borderBox {
    -webkit-box-sizing: border-box;
    /* Android ≤ 2.3, iOS ≤ 4 */
    
    -moz-box-sizing: border-box;
    /* Firefox ≤ 28 */
    
    box-sizing: border-box;
    /* Chrome, Firefox 29+, IE 8+, Opera, Safari 5.1 */
}

//Transitions
@mixin fadeTo($speed: 1s, $amount: 1, $easeType: linear) {
    transition: opacity $speed $easeType;
    -moz-transition: opacity $speed $easeType;
    -webkit-transition: opacity $speed $easeType;
    opacity: $amount;
}

//Animations
@mixin fade($speed, $start: 0, $end: 1, $count: 1) {
    -webkit-animation: alpha $speed $count;
    -moz-animation: alpha $speed $count;
    -o-animation: alpha $speed $count;
    animation: alpha $speed $count;
    @-webkit-keyframes alpha {
        0% {
            opacity: $start;
        }
        100% {
            opacity: $end;
        }
    }
    @-moz-keyframes alpha {
        0% {
            opacity: $start;
        }
        100% {
            opacity: $end;
        }
    }
    @-o-keyframes alpha {
        0% {
            opacity: $start;
        }
        100% {
            opacity: $end;
        }
    }
    @keyframes alpha {
        0% {
            opacity: $start;
        }
        100% {
            opacity: $end;
        }
    }
}

@mixin gridContainer() {
    box-sizing: border-box;
    clear: both;
    padding: 0px;
    margin: 0px;
    zoom: 1;
    /* For IE 6/7 (trigger hasLayout) */
    
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin column($percent, $mLeft, $mRight, $mBottom) {
    box-sizing: border-box;
    display: block;
    float: left;
    margin: 0 $mRight $mBottom $mLeft;
    width: ($percent - ($mLeft + $mRight));
}

@mixin twoColumn($percent: 50%, $mLeft: 0.5%, $mRight: 0.5%, $mBottom: 0.5%) {
    @include column($percent, $mLeft, $mRight, $mBottom);
}

@mixin threeColumn($percent: 33.33%, $mLeft: 0.5%, $mRight: 0.5%, $mBottom: 0.5%) {
    @include column($percent, $mLeft, $mRight, $mBottom);
}

@mixin fourColumn($percent: 25%, $mLeft: 0.5%, $mRight: 0.5%, $mBottom: 0.5%) {
    @include column($percent, $mLeft, $mRight, $mBottom);
}

@mixin fiveColumn($percent: 20%, $mLeft: 0.5%, $mRight: 0.5%, $mBottom: 0.5%) {
    @include column($percent, $mLeft, $mRight, $mBottom);
}

@mixin sixColumn($percent: 16.66%, $mLeft: 0.5%, $mRight: 0.5%, $mBottom: 0.5%) {
    @include column($percent, $mLeft, $mRight, $mBottom);
}

@mixin sevenColumn($percent: 14.29%, $mLeft: 0.5%, $mRight: 0.5%, $mBottom: 0.5%) {
    @include column($percent, $mLeft, $mRight, $mBottom);
}

@mixin eightColumn($percent: 12.5%, $mLeft: 0.5%, $mRight: 0.5%, $mBottom: 0.5%) {
    @include column($percent, $mLeft, $mRight, $mBottom);
}

@mixin nineColumn($percent: 11.11%, $mLeft: 0.5%, $mRight: 0.5%, $mBottom: 0.5%) {
    @include column($percent, $mLeft, $mRight, $mBottom);
}

@mixin tenColumn($percent: 10%, $mLeft: 0.5%, $mRight: 0.5%, $mBottom: 0.5%) {
    @include column($percent, $mLeft, $mRight, $mBottom);
}

@mixin elevenColumn($percent: 9.1%, $mLeft: 0.5%, $mRight: 0.5%, $mBottom: 0.5%) {
    @include column($percent, $mLeft, $mRight, $mBottom);
}

@mixin twelveColumn($percent: 8.3%, $mLeft: 0.5%, $mRight: 0.5%, $mBottom: 0.5%) {
    @include column($percent, $mLeft, $mRight, $mBottom);
}
