@import 'spektral-sass';
@mixin exampleText() {
    @include header;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.category {
    .example {
        width: 200px;
        .test-square {
            @include exampleText;
            cursor: pointer;
            background-color: #ff0000;
        }
    }
}

#fadeTo {
	 opacity: 0.25;
}

#fadeTo:hover {
	@include fadeTo(500ms, 1);
}

#fade {
	@include fade(5s);
}
