@import 'spektral-sass';

@mixin exampleText() {
	@include header;
	text-align: center;
	padding-top: 50%;
	padding-bottom: 50%;
}

.example {

	width: 200px;
	.test-square {
		@include exampleText;
		background-color: #ff0000;
		opacity: 0;
	}

	.fadeIn {
		@include fade(5s);	
	}
}