@charset "UTF-8";
h1 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 50px;
  text-align: left;
  text-align: center; }

h2 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 25px;
  text-align: left;
  text-align: center; }

.category {
  display: block; }
  .category .example {
    margin-bottom: 5px;
    width: 100%; }
    .category .example .test-square {
      font-family: Verdana, Geneva, sans-serif;
      font-size: 25px;
      text-align: left;
      text-align: center;
      padding: 2%;
      cursor: pointer;
      color: #fff;
      background-color: #ff0000; }
      .category .example .test-square:nth-child(even) {
        background-color: #0000ff; }
    .category .example .responsive-header {
      font-family: Verdana, Geneva, sans-serif;
      font-size: 25px;
      text-align: center;
      font-size: 50px;
      /* old */
      font-size: 5vm;
      /* IE9 */
      font-size: 5vmin; }
    .category .example .responsive-paragraph {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.05em;
      text-align: center;
      font-size: 100px;
      /* old */
      font-size: 3vm;
      /* IE9 */
      font-size: 3vmin; }
  .category .grid-example {
    clear: both;
    padding: 0px;
    margin: 0px;
    zoom: 1;
    /* For IE 6/7 (trigger hasLayout) */ }
    .category .grid-example:before, .category .grid-example:after {
      content: "";
      display: table; }
    .category .grid-example:after {
      clear: both; }
    .category .grid-example div {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.05em;
      text-align: left;
      color: #fff;
      text-align: center;
      background-color: #cecece;
      height: 50px; }
      .category .grid-example div:nth-child(even) {
        background-color: #666; }
    .category .grid-example .two-column {
      box-sizing: border-box;
      display: block;
      float: left;
      margin: 0 0.5% 0.5% 0.5%;
      width: 49%; }
    .category .grid-example .three-column {
      box-sizing: border-box;
      display: block;
      float: left;
      margin: 0 0.5% 0.5% 0.5%;
      width: 32.33%; }
    .category .grid-example .four-column {
      box-sizing: border-box;
      display: block;
      float: left;
      margin: 0 0.5% 0.5% 0.5%;
      width: 24%; }
    .category .grid-example .five-column {
      box-sizing: border-box;
      display: block;
      float: left;
      margin: 0 0.5% 0.5% 0.5%;
      width: 19%; }
    .category .grid-example .six-column {
      box-sizing: border-box;
      display: block;
      float: left;
      margin: 0 0.5% 0.5% 0.5%;
      width: 15.66%; }
    .category .grid-example .sixty-column {
      box-sizing: border-box;
      display: block;
      float: left;
      margin: 0 0.5% 0.5% 0.5%;
      width: 59%; }
    .category .grid-example .forty-column {
      box-sizing: border-box;
      display: block;
      float: left;
      margin: 0 0.5% 0.5% 0.5%;
      width: 39%; }

#fade-to {
  opacity: 0.25; }

#fade-to:hover {
  transition: opacity 500ms linear;
  -moz-transition: opacity 500ms linear;
  -webkit-transition: opacity 500ms linear;
  opacity: 1; }

#move-to {
  width: 50%; }

#move-to:hover {
  position: relative;
  transition: all 1s linear;
  -moz-transition: all 1s linear;
  -webkit-transition: all 1s linear;
  left: 100px;
  top: 0; }

#fade {
  -webkit-animation: alpha 5s 1;
  -moz-animation: alpha 5s 1;
  -o-animation: alpha 5s 1;
  animation: alpha 5s 1; }
@-webkit-keyframes alpha {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes alpha {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes alpha {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes alpha {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
#transparent-bg {
  background-color: rgba(0, 0, 255, 0.25); }

#shadow {
  -moz-box-shadow: inset 0 0 20px #000;
  -webkit-box-shadow: inset 0 0 20px #000;
  box-shadow: inset 0 0 20px #000; }

#rounded-corners {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

#alpha {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  /*Good browsers*/
  opacity: 0.5; }

#gradient {
  background-color: #444;
  background-image: -webkit-linear-gradient(top, #444, #999);
  /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background-image: linear-gradient(to bottom, #444, #999);
  /* Chrome 26, Firefox 16+, IE 10+, Opera */ }

#rotate {
  -webkit-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg); }

#scale {
  -webkit-transform: scale(0.5, 0.5);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: scale(0.5, 0.5);
  /* IE 9 */
  transform: scale(0.5, 0.5);
  /* Firefox 16+, IE 10+, Opera */ }

#border-box {
  -webkit-box-sizing: border-box;
  /* Android ≤ 2.3, iOS ≤ 4 */
  -moz-box-sizing: border-box;
  /* Firefox ≤ 28 */
  box-sizing: border-box;
  /* Chrome, Firefox 29+, IE 8+, Opera, Safari 5.1 */ }

/*# sourceMappingURL=example.css.map */
