@import 'spektral-sass';
@mixin exampleText() {
    @include header;
    text-align: center;
}

h1 {
    @include header(50px);
    text-align: center;
}

h2 {
    @include header();
    text-align: center;
}

.category {
    .example {
        margin-bottom: 5px;
        width: 100%;
        .test-square {
            @include exampleText;
            padding: 2%;
            cursor: pointer;
            color: #fff;
            background-color: #ff0000;
            :nth-child(even) {
                background-color: #0000ff;
            }
        }
    }
}

#fade-to {
    opacity: 0.25;
}

#fade-to:hover {
    @include fadeTo(500ms, 1);
}

#fade {
    @include fade(5s);
}

#transparent-bg {
    @include transparentBG(#0000ff, 0.25);
}

#shadow {
    @include shadow(20px);
}

#rounded-corners {
    @include roundedCorners(10px);
}

#alpha {
    @include alpha(0.5);
}

#gradient {
    @include gradient();
}

#rotate {
    @include rotate(5);
}

#scale {
    @include scale(0.5);
}
